/* section의 포트폴리오에 float 초기화 */

section.portfolio::after {
  content: "";
  display: block;
  clear: both;
}

/* portfolio-inner div박스에 넓이 margin-right(간격조정) float-left(왼쪽정렬), 
배경색, 테투리색, 아래쪽 여백 지정*/
section.portfolio .portfolio-inner {
  width: 30%;
  margin-right: 5%;
  padding: 1rem 1rem 1.5rem 1rem;
  float: left;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin-bottom: 3rem;
}

/* portfolio- inner의 3번째 6번째 박스에 오른쪽 여백 0지정 간격조정을 위해서*/
section.portfolio .portfolio-inner:nth-child(3n) {
  margin-right: 0;
}

/* portfolio-inner에 이미지 넓이를 100%로 지정 block으로 수직배열*/
section.portfolio .portfolio-inner img {
  width: 100%;
  display: block;
}

/* portfoloio-inner의 strong 색상 간격 조정 block으로 수직배열 */
section.portfolio .portfolio-inner strong {
  color: #ff6a6a;
  margin: 0.5rem 0;
  display: block;
}

/* h3 글자크기 설정 */
section.portfolio .portfolio-inner h3 {
  font-size: 1.75rem;
}
